image: python:3.7

stages:
  - tests
  - lint
  - deploy

before_script:
  - apt-get install -y pkg-config
  - pip install twine pipenv
  - pipenv install --dev

run_tests:
  stage: tests
  script:
    - pipenv run pytest -v -s --disable-warnings

lint_code:
  stage: lint
  script:
    - pipenv run flake8 --exclude tests

deploy:
  stage: deploy
  variables:
    TWINE_USERNAME: $PYPI_USERNAME
    TWINE_PASSWORD: $PYPI_PASSWORD
  script:
    - python setup.py sdist
    - twine upload --skip-existing dist/*
  only:
    - production