image: python:3.7

stages:
  - tests
  - lint
  - deploy

run_tests:
  before_script:
    - mkdir -p /var/run/dbus
    - apt-get update -y && apt-get install -y network-manager pkg-config build-essential libdbus-glib-1-dev libgirepository1.0-dev dbus
    - dbus-uuidgen > /var/lib/dbus/machine-id
    - dbus-daemon --config-file=/usr/share/dbus-1/system.conf --print-address
    - service network-manager start
    - pip install pipenv
    - pipenv install --dev
  stage: tests
  script:
    - pipenv run pytest -v -s --disable-warnings

lint_code:
  before_script:
    - pip install pipenv
    - pipenv install flake8
  stage: lint
  script:
    - pipenv run flake8 --exclude tests

deploy:
  stage: deploy
  before_script:
    - pip install twine
  variables:
    TWINE_USERNAME: $PYPI_USERNAME
    TWINE_PASSWORD: $PYPI_PASSWORD
  script:
    - python setup.py sdist
    - twine upload --skip-existing dist/*
  only:
    - production