[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"

[packages]
click = "*"
colorama = "*"
dbus-python = "*"
termcolor = "*"
pytest-mock = "*"
python-dbusmock = "*"
vext = "*"
vext-gi = "*"

[requires]
python_version = "3.7"
