[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
autopep8 = "*"
tox = "*"

[packages]
click = "*"
dbus-python = "*"
termcolor = "*"
pytest-mock = "*"
prettytable = "*"
pipenv = "*"
gobject = "*"
pygobject = "*"
wypy = {editable = true,path = "."}

[requires]
python_version = "3.8"
